.App {
}

.AppHeader {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

h2 {
  padding: 0px;
}
